<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

    <title>Sign In</title>
</head>
<body>
    <div class="div-form">
        <form action="/user/signin" method="post">
            <p class="p1">Sign In</p>
            <p class="p2">Please provide an email adress.<br>
            Please provide a password.
            </p>
            <input class="sign" type="email" name="email" placeholder="Enter your email"><br>
            <input class="sign" type="password" name="password" placeholder="Enter your password"><br>
            <div class="btn-sign">
                <input class="btn-submit" type="submit" value="Sign In">
                <input class="btn-link" type="button" value="Sign Up" onclick="document.location.href='/signup'">
            </div>
        </form>
    </div>
</body>
</html>